name: PR

on:
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v3
      - uses: microsoft/setup-msbuild@v1.1
        with:
          msbuild-architecture: x64
      - uses: nuget/setup-nuget@v1
        with:
          nuget-version: 'latest'

      - name: NuGet restore
        run: nuget restore Lepo.i18n.sln

      - name: Build
        run: msbuild Lepo.i18n.sln -p:Configuration=Release -m

      - name: Publish net60
        uses: actions/upload-artifact@v2
        id: publish_net6
        with:
          name: Lepo.i18n-net6
          path: |
            Lepo.i18n/bin/Release/net6.0-windows